.group {
  list-style: none;
  width: 900px;
  float: left;
}

.group li {
  position: relative;
}

#recipe-photos li {
  width: 272px;
  height: 162px;
  float: left;
}

#recipe-photos li img {
  width: 250px;
  height: 140px; 
  padding: 10px;
  border: 1px solid #aaaaaa;
}

#recipe-photos li div {
  text-align: center;
}

#recipe-names li {
  width: 250px;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  float: left;
}

#recipe-names li div{
  text-align: center;
}

.placed {
  top: 30%;
  background-color: blue;
  padding: 10px;
  margin: 11px;
  position: absolute;
}

.right {
  background-color: green;
}

.wrong {
  background-color: red;
}
