.group {
  list-style: none;
  width: 900px;
}

.group li {
  position: relative;
}

#recipe-photos li {
  width: 250px;
  height: 140px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  float: left;
}

#recipe-photos li img {
  width: 250px;
  height: 140px; 
}

#recipe-names li div{
  width: 230px;
  height: 50px;
  padding: 10px;
  float: left;
  text-align: center;
}

.right {
  background-color: green;
  top: 30%;
  padding: 10px;
}

.wrong {
  background-color: red;
  top: 30%;
  padding: 10px;
}

.placed {
  top: 30%;
  background-color: blue;
  padding: 10px;
}

